language: ruby
rvm:
  - 1.9.3
  - rbx-19mode
  - jruby-19mode
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
before_script:
  - sudo ci/install_phantomjs
  - "export PATH=phantomjs/bin:$PATH"
  - phantomjs --version
